<!DOCTYPE html>
<html lang="en">
<head>
<title><%= @title %></title>
<meta charset="utf-8">
  <%= stylesheet_link_tag "reset" %>
  <%= stylesheet_link_tag "layout" %>
  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag :defaults %>
</head>
<body id="page5">
<div class="main">
<!-- START PAGE SOURCE -->
<div id="left_column">
   <h2><span>Contact</span> Us</h2>
        <div class="wrapper pad_top1">
          <p><h3> Kashiyaana Barkati,<br>
             Nawaab Khail, Sarai Tareen, Sambhal,<br>
             U.P. India 244303<br>
            +91-5923-272576 (Home),<br> +91 995 88 995 17 (Azam Ghani),<br> +91 989 101 9847 (Amir Ziya)<br> +91 989 77 12786 (Yamin Barkati)<br>
             <a href="contact">contact@AnSwedding.com</a> </h3></p>
              </div>
  </div>
<div class="extra">


    <section id="content">
      <article class="col1">
        <h2><span>Contact</span> Form</h2>
        <form id="ContactForm" action="#">
          <div>
            <div  class="wrapper">
              <input type="text" class="input" />
              Name:<br />
            </div>
            <div  class="wrapper">
              <input type="text" class="input" />
              Email:<br />
            </div>
            <div  class="wrapper">
              <textarea name="textarea" cols="1" rows="1"></textarea>
              Message:<br />
            </div>
            <a href="#" class="button">Send</a> <a href="#" class="button">Clear</a> </div>
        </form>
      </article>
      <article class="col2 pad_left1">

      </article>
    </section>
  </div>
  <div class="block"></div>
</div>
<footer>
  <div class="footerlink">
    <p class="lf">Copyright &copy; 2012 AnSWedding.com- All Rights Reserved</p>
       <div style="clear:both;"></div>
  </div>
</footer>
<script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->
</body>
</html>