<!DOCTYPE html>
<html lang="en">
<head>
<title><%= @title %></title>
<meta charset="utf-8">
<%= stylesheet_link_tag "reset" %>
  <%= stylesheet_link_tag "layout" %>
  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag :defaults %>
</head>
<body id="page3">
<!-- START PAGE SOURCE -->
<div class="extra">
  <div class="main">



    <section id="content">
      <article class="col1">
        <h2><span>First</span> Day<br/>
      Thursday, 18 Oct 2012,<br/> Procession Programme For <span> Azam's Nikah</span></h2>
        <h3><table><td>Departure</td><td><td><td><td><td><td><td><td><td><td> 3:00 PM </td></table>
        <table><td>Nikah<td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td>7:00 PM</td></table></h3>
        <h3><table><td>Dinner</td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td>8:00 PM</td></table>
        <table><td>Return</td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td>9:00 PM</td></table></h3>
        <h3>at<br/>
        Orchid Gardens, Panchvati, G. T. Road,<br/>Ghaziabad, U.P, India</h3>
        <h2><span>Second</span> Day<br/>
        Saturday, 20 Oct 2012,<br/> Procession Programme For <span> Amir's Nikah</span></h2>
        <h3><table><td> Departure</td><td><td><td><td><td><td><td><td><td><td> 6:00 PM </td></table>
        <table><td>Nikah<td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td>7:00 PM</td></table></h3>
        <h3><table><td>Dinner</td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td>8:00 PM</td></table>
        <table><td>Return</td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td>9:00 PM</td></table></h3>
        <h3><p>at<br/>
        Jugnu Palace, Sarai Tarin, Sambhal<br/>Moradabad, U.P, India</p>
        <h2><span>Third</span> Day<br/>
        Sunday, 21 Oct 2012,<br/>Dinner <span>Reception</span></h2>
        <h3><table><td> Dinner</td><td><td><td><td><td><td><td><td><td><td>7:00 PM</td></table>
        <table><td><%= nav_link "Venue", "wedding", "venue" %></td><td><td><td><td><td><td><td><td><td><td>Qamar Palace, <br/>Sambhal, Moradabad,<br/>U.P, India</td></table></h3>
             </article>
    </section>
  </div>
  <div class="block"></div>
</div>
<footer>
  <div class="footerlink">
    <p class="lf">Copyright &copy; 2012 <a href="#">AnSWedding.com</a> - All Rights Reserved</p>

    <div style="clear:both;"></div>
  </div>
</footer>
<script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->
</body>
</html>