<!DOCTYPE html>
<html lang="en">
<head>
<title><%= @title %></title>
<meta charset="utf-8">
<%= stylesheet_link_tag "reset" %>
  <%= stylesheet_link_tag "layout" %>
  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag :defaults %>
</head>
<body id="page2">
<!-- START PAGE SOURCE -->
<div class="extra">
  <div class="main">

    <section id="content">
      <div class="wrapper">
        <article class="col1">
          <h2><span>Welcome</span> to Our Photo Gallery</h2>
          <p>Time will never stand still and those moments that bring us such joy become memories in an instant. To capture such a moment and record it forever is truly monumental.</p>
          <p>A pair has to be willing to work hard at making each other happy, and willing to put effort into communicating effectively in their relationship. One thing that is promised at a relationship's end is that there will always be memories for both parties to take with them while parting ways. Through all of the pain and struggle just try hard to remember that feelings sometimes change, but the memories you have are yours for the rest of your lifetime.</p>

        </article>
      </div>
      <div class="wrapper">
        <h2><span>Wedding</span> Photos</h2>
        <ul class="gallery">
          <%= image_tag("/images/Wedding Card1.jpg") %>


          </ul>
          </div>
    </section>
  </div>
  <div class="block"></div>
</div>
<footer>
  <div class="footerlink">
    <p class="lf">Copyright &copy; 2010 <a href="#">AnSWedding.com</a> - All Rights Reserved</p>

    <div style="clear:both;"></div>
  </div>
</footer>
<script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->
</body>
</html>