<!DOCTYPE html>
<html lang="en">
<head>
<title><%= @title %></title>
<meta charset="utf-8">
<%= stylesheet_link_tag "reset" %>
  <%= stylesheet_link_tag "layout" %>
  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag :defaults %>
</head>
<body id="page2">
<!-- START PAGE SOURCE -->
<div class="extra">
  <div class="main">
   <h2>Venue</h2>
        <div class="wrapper pad_top1">
         <h2><span>Qamar</span> Palace</h2><br>
           <h3>  Behind Qamar Petrol Pump,<br>
             Kabir Ki Sarai Road<br>
             Sambhal, U.P. India - 244302<br>
          <section id="content">
      <div class="wrapper">
        <article class="col1">
          <div id="left_column">

          <h2><span>Get</span> your route</h2>
          <%= image_tag("/images/Map Sambhal.jpg") %>
            <footer>
  <div class="footerlink">
    <p class="lf">Copyright &copy; 2010 <a href="#">AnSWedding.com</a> - All Rights Reserved</p>

    <div style="clear:both;"></div>
  </div>
</footer>
<script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->
</body>
</html>